Repository mychallipson/Stratum-Observability: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint

.lintstagedrc.json:

{
  "**/*.{js,ts,json}": ["npm run prettier"],
  "src/**/*.{js,ts}": ["npm run lint"]
}

feat: update package.json build exports (#2)
  README.md
  package.json
Due: npm run prettier

chore: add pull request template for clearer contribution instructions (#4)
  .github/pull_request_template.md
Due: none

release(1.1.0): remove references to "tag" (#3)
  README.md
  package-lock.json
  package.json
  src/base/model.ts
  src/base/plugin.ts
  src/base/publisher.ts
  src/constants.ts
  src/plugins/new-relic-plus/constants.ts
  src/plugins/new-relic-plus/index.ts
  src/plugins/new-relic-plus/model.ts
  src/plugins/new-relic-plus/types.ts
  src/plugins/new-relic/index.ts
  src/plugins/new-relic/publisher.ts
  src/service.ts
  src/types/catalog.ts
  src/types/env.ts
  src/types/index.ts
  src/types/service.ts
  src/types/tag.ts
  src/utils/ab-test-manager.ts
  src/utils/catalog.ts
  src/utils/env.ts
  src/utils/event.ts
  src/utils/general.ts
  src/utils/index.ts
  src/utils/injector.ts
  tests/plugin.test.ts
  tests/plugins/new-relic-plus.test.ts
  tests/plugins/new-relic.test.ts
  tests/publisher.test.ts
  tests/service.test.ts
  tests/simple.test.ts
  tests/utils.test.ts
  tests/utils/catalog.ts
  tests/utils/constants.ts
  tests/utils/fixtures.ts
  tests/utils/helpers.ts
  tests/utils/sample-plugin.ts
Due: npm run prettier, npm run lint

feat: add node build action (#11)
  .github/workflows/node.js.yml
Due: none

ci: define explicit workflow permissions (#19)
  .github/workflows/node.js.yml
Due: none

ci: remove obsolete ci:install script (#24)
  package.json
Due: npm run prettier

Add browser console plugin + update CONTRIBUTING.md (#23)
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/plugins/browser-console/index.ts
  src/plugins/browser-console/publisher.ts
  tests/plugins/browser-console.test.ts
Due: npm run prettier, npm run lint

release(1.2.0): global plugin support (#26)
  src/base/model.ts
  src/service.ts
  src/utils/global-plugins.ts
  src/utils/index.ts
  tests/service.test.ts
  tests/utils.test.ts
Due: npm run prettier, npm run lint

build: update to latest node v20, resolve vulnerabilities (#29)
  .nvmrc
  package-lock.json
Due: npm run prettier

chore: upgrade to node 22 (#30)
  .nvmrc
Due: none

Initially adding the plugin
  package-lock.json
  package.json
  src/plugins/database/index.ts
  src/plugins/database/publisher.ts
  src/plugins/database/types.ts
Due: npm run prettier, npm run lint

WIP: Adding new publishing flow
  src/service.ts
  src/types/catalog.ts
  src/types/service.ts
Due: npm run prettier, npm run lint
